@import "settings";
// @import "foundation";
@import "./../bower_components/foundation/scss/foundation/components/offcanvas";
@import "./../bower_components/foundation/scss/foundation/components/grid";
@import "./../bower_components/foundation/scss/foundation/components/type";
@import "./../bower_components/foundation/scss/foundation/components/visibility";
// @import "./../bower_components/foundation/scss/foundation/components/thumbs";
@import "./../bower_components/foundation/scss/foundation/components/tables";
// @import "./../bower_components/foundation/scss/foundation/components/alert-boxes";
@import "./../bower_components/foundation/scss/foundation/components/button-groups";


body, html {
  height: 100%;

}

td {
  padding: 5px !important;
}

.inner-wrap {
  height:100%;
  // overflow:hidden;
}

.off-canvas-wrap {
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9)) !important;
}

.big-big-ico {
  font-size: 75px;
}

.loading {
  text-align: left;
  width: 200px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.loading img{
  margin-bottom: 600px;
}

.playlist-row {
  width:100%;
}

#playlist-region {
  height:100%;
}
.playlist-empty p {
  color: #AB998B;
}
// custom alert styles
.danger-zone {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.main-view {
  margin-bottom: 70px;
}

.nav-helper-overlay {
  position: fixed;
  height: 45px;
  width: 100%;
  top: 0;
  background-color: #333333;
  color: black;
  z-index: 571;
  box-shadow: 0 0 8px #888888;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  cursor: default;
}

.nav-helper i{
  margin-left: 30% !important;
  font-size: -webkit-xxx-large !important;
  color: #fff !important;
}

.nav-helper a {
  line-height: 0.1 !important;
  color: #fff !important;
}

.nav-helper p{
  top: 10px;
  margin-top:0 !important;
  font-size:35px !important;
  color: #fff !important;
  line-height: 1 !important;
}

.sidebar-tab-content {
  color: #fff;
  margin-left:40px;

}

.sidebar-tab {
  margin-left: 40px;
}
.sidebar-tab a{
  color: #000;
}
.sidebar-tab p{
  color: #000;
}
.tabs dd.active a {
  color: #000;
}

.tab-bar-image img{
  display:inline;
  height:45px;
  width:45px;
  // margin-top: 3px;
}

.tab-bar-image p{
  margin-bottom: 0 !important;
}

/***************************************************************************************************
    styles for episode detailed view  **********************************************
***************************************************************************************************/

.modal-row i{
  margin-left:15px
}

.modal-row {
  background: #ECECEC;
}

.modal-text-content {
  height: 50%;
  overflow: auto;
}

/***************************************************************************************************
    styles for feed detailed view  **********************************************
***************************************************************************************************/

.feed-head {
  // padding: 20px;
  position: relative;
  background: #14b9e8 !important;
  // margin-top:55px;
  overflow: hidden;
}

.table-date h5{
    font-size: x-large !important;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #444444;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-left: 8px !important;
    padding-top: 23px;
    margin-bottom: 0;
}

.table-date p{
  font-size: x-large !important;
  font-family: 'Oswald', sans-serif;
  line-height: 1.6;
  margin-left: 12px !important;
  color:#14B9E8;
  margin-bottom: 0 !important;
}

.feed-color {
  color: #14b9e8 !important;
}

.feed-list {
  //background: #4B4B4B -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(71, 69, 69)), to(#3D3B3B)) !important;
  background: #fff;
  padding-top:12px;
}

.fancy-font {
  font-family: 'Oswald', sans-serif;
}

.not-found {
  margin-left:10px;
}

.episodes-table-wrapper {
  height: 100%;
  overflow:auto;
}
.locked {
  overflow: hidden;
}

.playlist {
  top:0;
}

.playlist-sidebar {
  background:#F4F4F4; min-height: 550px; padding:2px !important; margin-right:10px;
}

.library-image {
  max-width: 25%;
  padding:5px;
  float: left;
}

.library-title {
  height:25px;
  overflow: auto;
}

.library-title h5{
  font-family: 'Oswald', sans-serif !important;
}

.cover-art-block {
  padding:0 !important;
}
.icon-closure {
  font-size:30px;
  margin-right:5px;
  max-width:30px;
}

#dialog-region {
  overflow: hidden;
}

.dialog-absolute-bottom {
  position: absolute;
  bottom:0;
}

.dialog-absolute-bottom button{
  padding-top: 45px;
}

#page-main {
  padding: 0 !important;
  // margin-top:55px;
}

.panel {
  overflow: auto;
  margin-left: 5px;
  padding:2px;
  width: 98%;
}

.right-small {
  border-left: 0 !important;
}

.playlist {
  table-border-style: solid;
  table-border-size: 3 px;
  table-border-color: #ddd;

}

/***************************************************************************************************
    styles for static player bar at bottom of screen  **********************************************
***************************************************************************************************/

#player {
    position: fixed;
    height: 60px;
    width:100%;
    min-width: 340px;
    bottom: 0;
    background-color: #fafafa;
    color: black;
    z-index: 601;
    box-shadow: 0 0 8px #888888;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
    cursor: default;
}
#player-fill-left{
  height:100%;
  width:75%;
}
.album-preview {
  width: 60px;
    height: 60px;
}
#album-preview {
}

#feeditems-collection {
  margin-bottom:80px !important;
}
.player-preview{
    position: fixed;
    // top: 15px;
    left: 63px;
    bottom: 0;
    overflow: auto;
    height: 60px;
    max-width:50%;
    // font-weight: bold;
    // font-size: 18px;
}
.player-preview p{
  margin: 0 !important;
}
.player-art {
    background-color: transparent;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
}
.player-controls i{
  float: left;
  font-size: 35px;
  bottom:0;
  padding:5px;
}

#controls-wrapper {
  height:60px;
  position:fixed;
  bottom:0;
  right: 0;
  padding-top:10px;
}

.right-off-canvas-menu {
  width: 320px !important;
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  #player {
    height: 85px;
  }
  .player-art {
    height: 85px;
    width: 85px;
  }
  .player-preview{
    position: fixed;
    height: 85px;
    left: 87px;
    // font-weight: bold;
    // font-size: 18px;
  }
  .player-controls i{
    float: left;
    font-size: 45px;
    bottom:0;
    padding:10px;
  }
  #feeditems-collection {
    padding-left:80px;
    padding-right:80px;
  }

  #controls-wrapper {
    height:85px;
    position:fixed;
    bottom:0;
    right: 16px;
    margin-top:15px;
  }
}

@media all and (min-width: 1001px) {
  #player {
    height: 85px;
  }
  .player-art {
    height: 85px;
    width: 85px;
  }
  .player-preview {
    position: fixed;
    left: 85px;
    margin-top: 20px !important;

  }
  .player-controls i{
    float: left;
    font-size: 45px;
    bottom:0;
    padding:10px;
  }
    #controls-wrapper {
    height:85px;
    position:fixed;
    bottom:0;
    right: 16px;
    margin-top:15px;
  }
}


.offcanvas-inner-shadow-left {
    -webkit-box-shadow: 4px 0px 10px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    4px 0px 10px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         4px 0px 10px 0px rgba(50, 50, 50, 0.64);
}
#player-fill-right{
}
#player-main{
}

.unHidden {
    display: block;

}
.Hidden {
    display: none;
}

.episodes-list {
  height:200px;
  overflow:auto;
}

//FOUNDATION ICONS
@font-face {
  font-family: "foundation-icons";
  src: url("foundation-icons.eot");
  src: url("foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("foundation-icons.woff") format("woff"),
       url("foundation-icons.ttf") format("truetype"),
       url("foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Icons used
.fi-arrow-right:before,
.fi-archive:before,
.fi-alert:before,
.fi-page-delete:before,
.fi-arrow-left:before,
.fi-star:before,
.fi-arrow-up:before,
.fi-skull:before,
.fi-torso-business:before,
.fi-plus:before,
.fi-play:before,
.fi-previous:before,
.fi-pause:before,
.fi-rss:before,
.fi-x-circle:before,
.fi-fast-forward:before,
.fi-social-apple:before,
.fi-rewind-ten:before,
.fi-rewind:before,
.fi-x:before,
.fi-refresh:before,
.fi-social-google-plus:before,
.fi-trash:before,
.fi-eye:before,
.fi-page-multiple:before,
.fi-indent-more:before,
.fi-info:before,
.fi-widget:before,
.fi-social-twitter:before,
.fi-social-linkedin:before,
.fi-social-github:before,
.fi-social-stack-overflow:before,
.fi-social-facebook:before,
.fi-zoom-out:before {
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}
.fi-social-github:before { content: "\f1c9"; }
.fi-arrow-right:before { content: "\f10b"; }
.fi-social-linkedin:before { content: "\f1d0"; }
.fi-social-stack-overflow:before { content: "\f1df"; }
.fi-star:before { content: "\f1ee"; }
.fi-play:before { content: "\f198"; }
.fi-plus:before { content: "\f199"; }
.fi-trash:before { content: "\f204"; }
.fi-previous:before { content: "\f19c"; }
.fi-rss:before { content: "\f1aa"; }
.fi-x-circle:before { content: "\f216"; }
.fi-fast-forward:before { content: "\f148"; }
.fi-x:before { content: "\f217"; }
.fi-social-apple:before { content: "\f1b8"; }
.fi-pause:before { content: "\f191"; }
.fi-social-google-plus:before { content: "\f1ca"; }
.fi-rewind-ten:before { content: "\f1a8"; }
.fi-rewind:before { content: "\f1a9"; }
.fi-refresh:before { content: "\f1a5"; }
.fi-indent-more:before { content: "\f15d"; }
.fi-eye:before { content: "\f147"; }
.fi-page-multiple:before { content: "\f18a"; }
.fi-torso-business:before { content: "\f1fc"; }
.fi-skull:before { content: "\f1b3"; }
.fi-alert:before { content: "\f101"; }
.fi-arrow-up:before { content: "\f10c"; }
.fi-info:before { content: "\f15e"; }
.fi-widget:before { content: "\f214"; }
.fi-arrow-left:before { content: "\f10a"; }
.fi-page-delete:before { content: "\f182"; }
.fi-social-facebook:before { content: "\f1c4"; }
.fi-archive:before { content: "\f108"; }
.fi-social-twitter:before { content: "\f1e4"; }



$include-html-table-classes: $include-html-classes !default;

// These control the background color for the table and even rows
$table-bg: #fff;
$table-even-row-bg: #fff;

// These control the table cell border style
$table-border-style: solid;
$table-border-size: 1px;
$table-border-color: #ddd;

// These control the table head styles
$table-head-bg: #f5f5f5;
$table-head-font-size: rem-calc(14);
$table-head-font-color: #222;
$table-head-font-weight: bold;
$table-head-padding: rem-calc(8 10 10);

// These control the row padding and font styles
$table-row-padding: rem-calc(9 10);
$table-row-font-size: rem-calc(14);
$table-row-font-color: #222;
$table-line-height: rem-calc(30);

// These are for controlling the display and margin of tables
$table-display: table-cell;
$table-margin-bottom: rem-calc(20);

// We use these to control the style of the reveal overlay.
// $reveal-overlay-bg: rgba(#000, .45);
// $reveal-overlay-bg-old: #000;

// // We use these to control the style of the modal itself.
// $reveal-modal-bg: #fff;
// $reveal-position-top: 50px;
// $reveal-default-width: 80%;
// $reveal-modal-padding: rem-calc(20);
// $reveal-box-shadow: 0 0 10px rgba(#000,.4);

// // We use these to style the reveal close button
// $reveal-close-font-size: rem-calc(22);
// $reveal-close-top: rem-calc(8);
// $reveal-close-side: rem-calc(11);
// $reveal-close-color: #aaa;
// $reveal-close-weight: bold;

// // We use these to control the modal border
// $reveal-border-style: solid;
// $reveal-border-width: 1px;
// $reveal-border-color: #666;

// $reveal-modal-class: "reveal-modal";
// $close-reveal-modal-class: "close-reveal-modal";

$include-html-button-classes: $include-html-classes;

// We use these to build padding for buttons.
$button-med: rem-calc(12);
$button-tny: rem-calc(7);
$button-sml: rem-calc(9);
$button-lrg: rem-calc(16);

// We use this to control the display property.
$button-display: inline-block;
$button-margin-bottom: rem-calc(20);

// We use these to control button text styles.
$button-font-family: inherit;
$button-font-color: #fff;
$button-font-color-alt: #333;
$button-font-med: rem-calc(16);
$button-font-tny: rem-calc(11);
$button-font-sml: rem-calc(13);
$button-font-lrg: rem-calc(20);
$button-font-weight: bold;
$button-font-align: center;

// We use these to control various hover effects.
$button-function-factor: 10%;

// We use these to control button border styles.
$button-border-width: 1px;
$button-border-style: solid;

// We use this to set the default radius used throughout the core.
$button-radius: $global-radius;
$button-round: $global-rounded;

// We use this to set default opacity for disabled buttons.
$button-disabled-opacity: 0.6;


$header-font-color: #444444 !default;
